In [2]:
import numpy as np
import requests 
import pandas as pd
from bs4 import BeautifulSoup as bs

In [140]:
urls = "https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start="
df_list = []

for i in range(0,2):
    url = urls+str(i)

    response = requests.get(url)

    html = response.content

    soup = bs(html , "html.parser")

    containers = soup.find_all('div' , class_=('css-1gatmva e1v1l3u10'))

    for container in containers :
        j_title = container.find('h2' , class_=('css-m604qf')).text.strip()
        c_name = container.find('a' , class_=('css-17s97q8')).text.strip()
        c_land = container.find('span' , class_=('css-5wys0k')).text.strip()
        j_dis = container.find('span' , class_=('css-1ve4b75 eoyjyou0')).text.strip()


        df_list.append({'j_title' : j_title , 'c_name' : c_name , 'c_land' : c_land , 'j_dis' : j_dis})

In [141]:
df = pd.DataFrame(df_list , columns=['j_title' , 'c_name' , 'c_land' , 'j_dis'])

In [143]:
df

,j_title,c_name,c_land,j_dis
0,data analysis,Care Services EG -,"Abbassia, Cairo, Egypt",Full Time
1,business analysis,B-Solution -,"6th of October, Giza, Egypt",Full Time
2,Senior Data Scientist - Hybrid,Seoudi Supermarket -,"Sheikh Zayed, Giza, Egypt",Full Time
3,"Librarian, Data Management",Weill Cornell Medicine-Qatar -,"Doha, Qatar",Full Time
4,Data Analyst,Eep -,"Dubai, United Arab Emirates",Full Time
5,Data Strategy Consultant,D4DS -,"Riyadh, Saudi Arabia",Full Time
6,Data & Analytics Strategy Executive,Dentsu International -,"Dubai, United Arab Emirates",Full Time
7,Data & Analytics Strategy Executive,"Dentsu, Inc. -","Dubai, United Arab Emirates",Full Time
8,Data Analyst,Deriv -,"Dubai, United Arab Emirates",Full Time
9,Data Engineer,Dr. Sulaiman Al Habib Medical Group -,"Riyadh, Saudi Arabia",Full Time
10,Data Analyst Specialist,Professional Recruitment -,"Riyadh, Saudi Arabia",Full Time
11,Data Analytics Supervisor,Emirates Group Careers -,"Dubai, United Arab Emirates",Full Time
12,Data Governance Manager,Cognizant Technology Solutions Corporation -,"Riyadh, Saudi Arabia",Full Time
13,Junior Data Analyst,Cleartrip -,"Dubai, United Arab Emirates",Full Time
14,AFC Data Analyst (Automatic Fare Collection Sy...,SNC-Lavalin -,"Riyadh, Saudi Arabia",Full Time
15,Data Scientist,egabi solutions -,"Heliopolis, Cairo, Egypt",Full Time
16,Data Analytics Engineer,Erada -,"Maadi, Cairo, Egypt",Full Time
17,Data Analyst,Arma-HSA -,"New Cairo, Cairo, Egypt",Full Time
18,Data Analyst,Second profit -,"Nasr City, Cairo, Egypt",Full Time
19,Data Catalog Specialist,D4DS -,"Riyadh, Saudi Arabia",Full Time
20,Data Scientist & Artificial Intelligence Engin...,Eram Talent -,"Riyadh, Saudi Arabia",Full Time
21,Fitness Data Collection Coordinator/ Analyst,TEMPO -,"New Cairo, Cairo, Egypt",Full Time
22,Lead Operations Data and Performance Analyst,Qatar Airways - Other locations -,"Doha, Qatar",Full Time
23,"Product Data Analyst Dubai, UAE Business Intel...",Easygenerator -,"Dubai, United Arab Emirates",Full Time
24,GSC EMEA Master Data Analyst,Pfizer Inc -,"Dubai, United Arab Emirates",Full Time
25,National Graduate Training Program - Route Pla...,Emirates Group Careers -,"Dubai, United Arab Emirates",Full Time
26,"Data and Analytics Specialist,",Madison Pearl -,"Dubai, United Arab Emirates",Full Time
27,Data Engineer,Salt Search Ltd -,"Dubai, United Arab Emirates",Full Time
28,Data Analyst,"Marriott International, Inc & Ritz Carlton Hot...","Dubai, United Arab Emirates",Full Time
29,Senior Data & Cloud Architect (IIRIS),Informa PLC -,"Dubai, United Arab Emirates",Full Time

In [119]:
urls = "https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start="
for i in range(0,15):
    url = urls+str(i)

https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start=0
https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start=1
https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start=2
https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start=3
https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start=4
https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start=5
https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start=6
https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start=7
https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start=8
https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start=9
https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start=10
https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start=11
https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start=12
https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start=13
https://wuzzuf.net/search/jobs/?a=hpb&q=data%20analysis&start=14